<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="All Tests">
    <listeners>
        <listener class-name="listeners.TestListeners"/>
    </listeners>
    <suite-files>
        <suite-file path="./trigonometry.xml"/>
        <suite-file path="./algebraic.xml"/>
        <suite-file path="./logical.xml"/>
    </suite-files>
</suite>